$*
*.pkl
*.pickle
*.rdf
.*/
LCMSMS_Pred_Supplemental_Material_section_S6
RT_STUDY/**/*.tsv
RT_STUDY/**/*.xlsx
Stats/models/*
Stats/celery.sqlite
Stats/django-errors.log
Stats/MLP.ipynb
Stats/XGBoost.ipynb
Stats/picsgit 